@font-face {
    font-family: UbuntuCondensed;
    src: url(../fonts/UbuntuCondensed-Regular.ttf);
}

@font-face {
    font-family: microsoftsansserif;
    src: url(../fonts/microsoftsansserif.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/static/Montserrat-Regular.ttf');
}
body {
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}
.header__title{
    color:red;
}
.main {
    width: 70%;
    margin: auto;
}

.wrap {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: #c0c0c0;
}

#header,
#footer {
    width: 100%;
    height: 70px;
    background-color: #0061C7;
}

#footer {
    margin-top: 50px;
}

.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 10px;
    margin: 0 34px 0 34px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a,
.menu-main a:visited {
    color: #9d999d;
}

.menu-main a.current,
.menu-main a:hover {
    color: #E3000F;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 2.5px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #E3000F;
    transition: .8s;
}

.menu-main a:hover:before,
.menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after,
.menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }
    .menu-main li {
        display: block;
    }
    .menu-main li:after {
        content: none;
    }
    .menu-main a {
        padding: 25px 0 25px;
        margin: 0 30px;
    }
}

.image {
    position: relative;
    width: 100%;
    padding-top: 15px;
    object-fit: cover;
    overflow: hidden;
}

.textFrame {
    position: absolute;
    padding: 40px 50px 60px 50px;
    text-align: center;
    color: aliceblue;
}

.textOne {
    font-family: UbuntuCondensed;
}

.textTwo {
    font-family: UbuntuCondensed;
}

.image img {
    width: 100%;
}

#logoWithLines {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greenLines {
    width: 65vh;
    height: 0.21vh;
    background-color: #008001;
    margin: auto;
    margin-left: 20px;
}

.greenLogo {
    width: 8vw;
    padding-top: 10px;
    margin-top: 46px;
    margin-bottom: 70px;
    margin-left: 28px;
}

.blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.line_block {
    width: 16vw;
    float: left;
    text-align: center;
    border-radius: 30px;
    margin-left: 1.3vw;
}

.line_block img {
    width: inherit;
}

.p{
    width: 100%;
}